<div class="container">
  <app-nav-bar (onLogout)="onLogout()"></app-nav-bar>
  <div class="main-container">
    <div class="todo-container">
      <app-form></app-form>
      <span *ngIf="todoService.isLoading; else second" class="loading">
        <mat-spinner></mat-spinner>
      </span>
      <ng-template #second>
        <ng-container *ngIf="todoService.filteredListTodo.length">
          <div class="list">
            <app-list *ngFor="let todo of todoService.filteredListTodo; let i = index" [index]="i" [id]="todo._id!"
              [task]="todo.task" [isCompleted]="todo.isCompleted" [createdAt]="todo.createdAt"></app-list>
          </div>
        </ng-container>
        <span class="no-task" *ngIf="todoService.filteredListTodo.length == 0">There is no task...</span>
      </ng-template>
      <!-- <ng-template #second><span class="loading">Loding...</span></ng-template> -->
    </div>
    <mat-form-field appearance="fill">
      <mat-label>Choose a date</mat-label>
      <input matInput (dateInput)="onDateChange($event.value)" [matDatepicker]="picker" [formControl]="date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <p-toast position="bottom-center" key="c" (onClose)="onReject()" [baseZIndex]="5000">
      <ng-template let-message pTemplate="message">
        <div class="p-flex p-flex-column" style="flex: 1">
          <div class="p-text-center">
            <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>
            <h1>Are you sure?</h1>
            <p>Confirm to proceed</p>
          </div>
          <div class="confirm-box">
            <div>
              <button type="button" pButton pRipple (click)="onConfirm()" label="Yes" class="p-button-primary"></button>
            </div>
            <div>
              <button type="button" pButton pRipple (click)="onReject()" label="No" class="p-button-secondary"></button>
            </div>
          </div>
        </div>
      </ng-template>
    </p-toast>
  </div>
</div>