<div class="container">
    <span class="welcome">Welcome</span>
    <form [formGroup]="userForm" class="login-box">
        <div class="input-box">
            <app-reusable-input label="Email" [control]="username" [isEmpty]="isUsernameEmpty"></app-reusable-input>
        </div>
        <div class="input-box">
            <app-reusable-input type="password" label="Password" [control]="password" [isEmpty]="isPasswordEmpty">
            </app-reusable-input>
        </div>
        <div class="account-box">
            <a [routerLink]="['/register']">Don't have account ?</a>
            <a [routerLink]="['/enter-email']">Forget password</a>
        </div>
        <ng-container>
            <p-progressSpinner *ngIf="loading;else elseblock" [style]="{display: 'flex',width: '50px', height: '50px'}"
                strokeWidth="4" animationDuration="3">
            </p-progressSpinner>
            <ng-template #elseblock>
                <button (click)="login()">Login</button>
                <button class="google-btn" (click)="authService.googleSignin()">
                    <img src="../../../assets/images/google.jpg" alt="Google'Logo" width="20" height="20">
                    Signin With Google
                </button>
            </ng-template>
        </ng-container>
    </form>
    <p-toast position="bottom-center"></p-toast>
</div>