.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: rgb(227, 209, 240);
}

.welcome {
  font-size: 50px;
  font-weight: 900;
  margin-bottom: 50px;
  text-shadow: 2px 3px rgb(168, 168, 168);
}

.login-box {
  width: 25%;
  height: auto;
  background: rgb(195, 136, 236);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 17px 20px;
  border-radius: 10px;
  box-shadow: 2px 4px rgb(179, 179, 179);
}

.input-box {
  margin-top: 10px;
}

a {
  font-size: 15px;
  text-decoration: none;
  color: blue;
}

a:hover {
  text-decoration: underline;
}

.account-box a {
  float: right;
  margin-bottom: 10px;
  margin-top: 10px;
}

.register {
  font-size: 23px;
  font-weight: 600;
  cursor: pointer;
}

.register:hover {
  color: rgb(8, 8, 94);
  text-decoration: underline;
}

button {
  border: none;
  border-radius: 7px;
  padding: 9px 20px;
  font-size: 27px;
  background: rgb(112, 0, 192);
  box-shadow: 1px 2px rgb(124, 124, 124);
  color: wheat;
  font-weight: 600;
  cursor: pointer;
}

button:hover {
  background: rgb(153, 32, 240);
}

button:active {
  background: rgb(112, 0, 192);
}
