<div class="container">
    <span class="welcome">Welcome</span>
    <form [formGroup]="userForm" class="login-box">
        <div class="input-box">
            <app-reusable-input label="Username" [control]="username" [isEmpty]="isUsernameEmpty" minLength="4">
            </app-reusable-input>
        </div>
        <div class="input-box">
            <app-reusable-input type="email" label="Email" [control]="email" [isEmpty]="isEmailEmpty">
            </app-reusable-input>
        </div>
        <div class="input-box">
            <app-reusable-input type="password" label="Password" [control]="password" [isEmpty]="isPasswordEmpty"
                minLength="6">
            </app-reusable-input>
        </div>
        <div class="input-box">
            <app-reusable-input type="password" label="PasswordConfirmation" [control]="passwordConfirmation"
                [isEmpty]="isPasswordConfirmationEmpty" minLength="6">
            </app-reusable-input>
            <ng-container *ngIf="!passwordConfirmation.errors && userForm.errors">
                <span *ngIf="userForm.errors.passwordDontMatch" class="error-message">Password is
                    not match</span>
            </ng-container>
        </div>
        <div class="account-box">
            <a [routerLink]="['/login']" >Already have account ?</a>
        </div>
        <ng-container>
            <p-progressSpinner *ngIf="loading;else elseblock" [style]="{display: 'flex',width: '50px', height: '50px'}"
                strokeWidth="4" animationDuration="3">
            </p-progressSpinner>
            <ng-template #elseblock>
                <button (click)="register()">Register</button>
            </ng-template>
        </ng-container>
    </form>
    <p-toast position="bottom-center"></p-toast>
</div>