  .container{
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 10px;
    font-size: 19px;
  }
  
  input {
    border: 2px solid #F7D8DE;
    background: #F7D8DE;
    box-sizing: border-box;
    padding: 10px 10px;
    border-radius: 7px;
    height: 42px;
    font-size: 19px;
  }
  
  input:focus {
    outline: none;
  }
  
  .error-message {
    display: block;
    text-align: start;
    margin-top: 5px;
    color: rgb(190, 0, 0);
  }
  
  .invalid {
    border: 2px solid rgb(190, 0, 0);
  }

  .error-container{
    height: auto;
  }
  