<span class="list-container" [ngClass]="{completed: isCompleted}">
  <div class="checkbox-container">
    <mat-checkbox [disabled]="!todoService.isToday" (change)="onBoxChecked($event)" [(ngModel)]="isCompleted">
    </mat-checkbox>
  </div>
  <div class="task-container">
    <span class="input" *ngIf="!isEditing; else elseBlock">{{task}}<span>{{createdAt | date:"shortTime"}}</span></span>

    <ng-template #elseBlock>
      <input autofocus="off" class="input-update" type="text" [(ngModel)]="task">
    </ng-template>
  </div>

  <div class="btn-container">
    <button [disabled]="!todoService.isToday" *ngIf="!isEditing; else elseBtnEdit" class="btn-edit"
      (click)="onEdit()">Edit</button>
    <ng-template #elseBtnEdit>
      <button class="btn-update" (click)="onUpdate()">Update</button>
    </ng-template>
    <button [disabled]="!todoService.isToday" *ngIf="!isEditing; else elseBtnDelete" class="btn-delete"
      (click)="onDelete()">Delete</button>
    <ng-template #elseBtnDelete>
      <button class="btn-cancel" (click)="onCancel()">Cancel</button>
    </ng-template>
  </div>
</span>