<span class="list-container">
    <div class="checkbox-container">
      <input type="checkbox" id="vehicle1" (change)="onUpdate()" name="vehicle1" [(ngModel)]="isCompleted">
    </div>
  <div class="task-container">
    <span *ngIf="!isEditing; else elseBlock">{{task}}</span>
    <ng-template #elseBlock>
    <input autofocus="off" class="input-update" type="text" [(ngModel)]="task">
  </ng-template>
  </div>
  
  <div class="btn-container">
    <button *ngIf="!isEditing; else elseBtnEdit" class="btn-edit" (click)="onEdit()">Edit</button>
    <ng-template #elseBtnEdit>
      <button class="btn-update" (click)="onUpdate()">Update</button>
    </ng-template>
    <button *ngIf="!isEditing; else elseBtnDelete" class="btn-delete" (click)="onDelete()">Delete</button>
    <ng-template #elseBtnDelete>
      <button class="btn-cancel" (click)="onCancel()">Cancel</button>
    </ng-template>
  </div>
</span>
