.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: wheat;
}

.login-box {
  width: 25%;
  height: 50%;
  background: rgb(188, 241, 245);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 2px 4px rgb(179, 179, 179);
}

label {
  font-size: 27px;
}

input {
  margin: 5px 0px 40px 0px;
  padding: 9px 17px;
  border: 0px;
  border-radius: 7px;
  font-size: 20px;
}

input:focus {
  outline: none;
}
button {
  border: none;
  border-radius: 7px;
  padding: 9px 20px;
  font-size: 27px;
  background: rgb(56, 56, 56);
  box-shadow: 1px 2px rgb(165, 165, 165);
  color: rgb(235, 235, 235);
  font-weight: 600;
  cursor: pointer;
  font-size: 20px;
}

button:hover {
  background: rgb(43, 43, 43);
}

button:active {
  background: rgb(20, 20, 20);
}
