input {
    border: 3px solid rgb(250, 189, 255);
    background: rgb(252, 215, 255);
    padding: 17px;
    border-radius: 12px;
    font-size: 20px;
    margin-right: 12px;
}

button {
    border: none;
    padding: 20px;
    background: rgb(212, 152, 255);
    border-radius: 12px;
    font-size: large;
    cursor: pointer;
}

button:hover {
    background: rgb(204, 132, 255);
}

button:active{
    background: rgb(193, 105, 255);
}

input:hover {
    border: 3px solid rgb(246, 163, 253);
}

input:focus {
    border: 3px solid rgb(246, 151, 255);
    outline: none;
}