<div class="container">
    <span class="welcome">Welcome</span>
    <form [formGroup]="userForm" class="login-box">
        <div class="input-box">
            <label for="username">Username:</label>
            <input [ngClass]="{invalid: isUsernameEmpty}" [ngClass]="{invalid: username.dirty && username.touched && username.errors}" formControlName="username" class="error" type="email" autocomplete="off" name="username" />
            <ng-container *ngIf="username.dirty && username.touched && username.errors">
                <span *ngIf="username.errors.pattern" class="error-message">Email is not valid</span>
            </ng-container>
            <ng-container *ngIf="isUsernameEmpty && username.errors">
                <span *ngIf="username.errors.required" class="error-message">Username is required</span>
            </ng-container>
        </div>
        <div class="input-box">
            <label for="username">Password:</label>
            <input [ngClass]="{invalid: isPasswordEmpty}" [ngClass]="{invalid: password.dirty && password.touched && password.errors}" formControlName="password" type="password" autocomplete="off" name="username" />
            <ng-container *ngIf="password.dirty && password.touched && password.errors">
                <span *ngIf="password.errors.minlength" class="error-message">Password should be at least 6
                    characters</span>
            </ng-container>
            <ng-container *ngIf="isPasswordEmpty && password.errors">
                <span *ngIf="password.errors.required" class="error-message">Username is required</span>
            </ng-container>
        </div>
        <div class="account-box">
            <span class="account">Already have account ?</span>
            <span (click)="login()" class="register">Login</span>
        </div>
        <button (click)="register()">Register</button>
    </form>
</div>