<div class="container">
    <span class="welcome">Welcome</span>
    <div class="login-box">
        <div class="input-box">
            <label for="username">Username:</label>
            <input type="email" autocomplete="off" name="username" />
        </div>
        <div class="input-box">
            <label for="username">Password:</label>
            <input type="password" autocomplete="off" name="username" />
        </div>
        <div class="account-box">
            <span class="account">Already have account ?</span>
            <span (click)="login()" class="register">Login</span>
        </div>
        <button>Register</button>
    </div>
</div>